<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
</head>

<body>
    <div>
        <form id="login-form">
            <input type="email" id="inputEmail" placeholder="Correo electrónico" required><br>
            <input type="password" id="inputPassword" placeholder="Contraseña" required><br>
            <button type="submit">Iniciar sesión</button>
        </form>
    </div>
    <div>
        <a href="/index.html">Volver</a>
    </div>
</body>

<script type="module" src="/js/app.js"></script>

</html>